---
language: node_js
node_js:
  - node
  - lts/*
cache:
  directories:
    - ~/.npm
before_script:
  - npm install -g npm@latest
script:
  - npm install --save-dev expo-cli
  - yarn install
  - yarn test
